In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace, lower, col

In [2]:
spark = SparkSession.builder\
    .appName("AggregateCatalogueCo2")\
    .enableHiveSupport()\
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/14 19:08:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.sparkContext.setLogLevel("OFF")
spark.catalog.clearCache()
spark.sql("USE concessionnaire")

df_marketing = spark.sql("SELECT * FROM marketing_ext")
df_marketing = df_marketing.filter(df_marketing['sexe'] != 'sexe') # A GERER DANS L'IMPORT DE HIVE ???

In [4]:
df_marketing.show(n=1000)

+---+----+------+------------------+---------------+---------------+
|age|sexe|  taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|
+---+----+------+------------------+---------------+---------------+
| 21|   F|1396.0|       C�libataire|              0|          false|
| 35|   M| 223.0|       C�libataire|              0|          false|
| 48|   M| 401.0|       C�libataire|              0|          false|
| 26|   F| 420.0|         En Couple|              3|           true|
| 80|   M| 530.0|         En Couple|              3|          false|
| 27|   F| 153.0|         En Couple|              2|          false|
| 59|   F| 572.0|         En Couple|              2|          false|
| 43|   F| 431.0|       C�libataire|              0|          false|
| 64|   M| 559.0|       C�libataire|              0|          false|
| 22|   M| 154.0|         En Couple|              1|          false|
| 79|   F| 981.0|         En Couple|              2|          false|
| 55|   M| 588.0|       C�libataire|              0|          false|
| 19|   F| 212.0|       C�libataire|              0|          false|
| 34|   F|1112.0|         En Couple|              0|          false|
| 60|   M| 524.0|         En Couple|              0|           true|
| 22|   M| 411.0|         En Couple|              3|           true|
| 58|   M|1192.0|         En Couple|              0|          false|
| 54|   F| 452.0|         En Couple|              3|           true|
| 35|   M| 589.0|       C�libataire|              0|          false|
| 59|   M| 748.0|         En Couple|              0|           true|
+---+----+------+------------------+---------------+---------------+

### Remarque 001
- Le symbole "�" apparaît dans la colonne **situationfamiliale**.
- Des majuscule sont dans la colonne **situationfamiliale**.

In [5]:
#Le symbole "�" apparaît dans la colonne situationfamiliale.
df_marketing = df_marketing.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "�", "e"))
df_marketing = df_marketing.withColumn("situationfamiliale", lower(col("situationfamiliale")))

In [6]:
df_marketing.show(n=1000)
df_marketing.printSchema()

+---+----+------+------------------+---------------+---------------+
|age|sexe|  taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|
+---+----+------+------------------+---------------+---------------+
| 21|   F|1396.0|       celibataire|              0|          false|
| 35|   M| 223.0|       celibataire|              0|          false|
| 48|   M| 401.0|       celibataire|              0|          false|
| 26|   F| 420.0|         en couple|              3|           true|
| 80|   M| 530.0|         en couple|              3|          false|
| 27|   F| 153.0|         en couple|              2|          false|
| 59|   F| 572.0|         en couple|              2|          false|
| 43|   F| 431.0|       celibataire|              0|          false|
| 64|   M| 559.0|       celibataire|              0|          false|
| 22|   M| 154.0|         en couple|              1|          false|
| 79|   F| 981.0|         en couple|              2|          false|
| 55|   M| 588.0|       celibataire|              0|          false|
| 19|   F| 212.0|       celibataire|              0|          false|
| 34|   F|1112.0|         en couple|              0|          false|
| 60|   M| 524.0|         en couple|              0|           true|
| 22|   M| 411.0|         en couple|              3|           true|
| 58|   M|1192.0|         en couple|              0|          false|
| 54|   F| 452.0|         en couple|              3|           true|
| 35|   M| 589.0|       celibataire|              0|          false|
| 59|   M| 748.0|         en couple|              0|           true|
+---+----+------+------------------+---------------+---------------+

root
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- taux: float (nullable = true)
 |-- situationfamiliale: string (nullable = true)
 |-- nbenfantacharge: integer (nullable = true)
 |-- deuxiemevoiture: boolean (nullable = true)