# Analyse et nettoyage des données Immatriculation

## Import

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql.types import BooleanType, FloatType
from pyspark.sql.functions import trim, lower, col, count, regexp_replace, max, min, when

## Session spark

In [2]:
spark = SparkSession.builder\
    .appName("CleanImmatriculation")\
    .enableHiveSupport()\
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/14 16:13:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Import des données

In [3]:
spark.sparkContext.setLogLevel("OFF")
spark.catalog.clearCache()
spark.sql("USE concessionnaire")

df_immat = spark.sql("SELECT * FROM immatriculations_ext")
df_client = spark.sql("SELECT * FROM clients")

df_immat.show()
df_client.show()
df_client.count()

+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|immatriculation|    marque|             nom|puissance|   longueur|nbplaces|nbportes|couleur|occasion| prix|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|     9113 ZK 61|      Saab|        9.3 1.8T|      150|     longue|       5|       5|  blanc|   false|38600|
|     9088 UW 52|    Nissan|   Maxima 3.0 V6|      200|tr�s longue|       5|       5|   bleu|   false|30000|
|     3594 DX 21|Volkswagen|     Polo 1.2 6V|       55|     courte|       5|       3|   gris|    true| 8540|
|     9665 OD 25|   Renault|Vel Satis 3.5 V6|      245|tr�s longue|       5|       5|  rouge|   false|49200|
|     3745 QT 98|      Saab|        9.3 1.8T|      150|     longue|       5|       5|   gris|    true|27020|
|      110 UO 91|    Nissan|      Almera 1.8|      115|    moyenne|       5|       5|   bleu|   false|16450|
|     3024 NS 68|     Volvo|          S80 T6|      272|tr�s longue|       5|       5|  rouge|   false|50500|
|     1433 QH 77|Volkswagen|    Golf 2.0 FSI|      150|    moyenne|       5|       5|   bleu|   false|22900|
|     4865 ID 89|      Audi|          A2 1.4|       75|     courte|       5|       5|  blanc|   false|18310|
|     5334 AL 69|Volkswagen|    Golf 2.0 FSI|      150|    moyenne|       5|       5|  blanc|    true|16029|
|     7326 XP 98|      Saab|        9.3 1.8T|      150|     longue|       5|       5|  rouge|    true|27020|
|     4307 XJ 84|      Audi|          A2 1.4|       75|     courte|       5|       5|   gris|   false|18310|
|      985 ZD 20|       BMW|              M5|      507|tr�s longue|       5|       5|  rouge|   false|94800|
|     4908 PQ 39|      Audi|          A2 1.4|       75|     courte|       5|       5|  rouge|    true|12817|
|     1988 QH 68|   Renault|Vel Satis 3.5 V6|      245|tr�s longue|       5|       5|   noir|   false|49200|
|     3470 IL 96|      Ford|      Mondeo 1.8|      125|     longue|       5|       5|   bleu|   false|23900|
|     7526 DQ 31|       BMW|              M5|      507|tr�s longue|       5|       5|   bleu|   false|94800|
|     3108 PG 59|      Audi|          A2 1.4|       75|     courte|       5|       5|   noir|    true|12817|
|     3099 QU 84|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|  rouge|   false|37100|
|     8557 XV 50|       BMW|              M5|      507|tr�s longue|       5|       5|   gris|   false|94800|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
only showing top 20 rows

+----+----+----+------------------+---------------+---------------+---------------+
| age|sexe|taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|immatriculation|
+----+----+----+------------------+---------------+---------------+---------------+
|null|sexe|null|situationFamiliale|           null|           null|immatriculation|
|  40|   M| 400|         En Couple|              1|          false|     7982 PU 33|
|  42|   M| 525|         En Couple|              1|          false|     7501 DZ 26|
|  28|   M|1066|       C�libataire|              0|          false|     6461 JH 46|
|  44|   F| 237|       C�libataire|              0|          false|     8430 FZ 18|
|  75|   M| 563|       C�libataire|              0|          false|     4429 QQ 61|
|  56|   M| 840|         En Couple|              0|          false|     3509 CA 60|
|  28|   M| 414|         En Couple|              2|          false|     5010 JT 73|
|  42|   M| 209|       C�libataire|              0|          false|     6353 BI 12|
|  59|   M| 775|         En Couple|              1|          false|     8452 QA 32|
|  43|   M| 438|       C�libataire|              0|          false|     6369 FT 49|
|  53|   M|1056|         En Couple|              0|          false|      378 QN 86|
|  37|   M|1206|         En Couple|              2|           true|     3271 YD 50|
|  58|   M| 150|       C�libataire|              0|          false|       79 XA 39|
|  80|   M| 221|         En Couple|              0|          false|     1574 EU 28|
|  32|   M| 173|         En Couple|              2|          false|     8768 QS 95|
|  56|   M| 466|       C�libataire|              0|          false|      548 HQ 47|
|  48|   M| 973|             Seule|              1|          false|     2940 CE 72|
|  18|   F|1175|         En Couple|              3|           true|     5816 HM 54|
|  59|   M|1064|         En Couple|              0|          false|     5250 ZW 33|
+----+----+----+------------------+---------------+---------------+---------------+
only showing top 20 rows

100001

## Analyse

### Casse
- Renommage de la colonne "nom" en "modele" dans la table **immatriculation**
- Normalisation des marques de la table **immatriculation**
- Normalisation des modèles de la table **immatriculation**
- Suppression de la 1ère ligne de la table **clients**

#### Traitement Immatriculation

In [4]:
#Renommage de la colonne "nom" en "modele"
df_immat = df_immat.withColumnRenamed("nom", "modele")

df_immat.printSchema()

root
 |-- immatriculation: string (nullable = true)
 |-- marque: string (nullable = true)
 |-- modele: string (nullable = true)
 |-- puissance: integer (nullable = true)
 |-- longueur: string (nullable = true)
 |-- nbplaces: integer (nullable = true)
 |-- nbportes: integer (nullable = true)
 |-- couleur: string (nullable = true)
 |-- occasion: string (nullable = true)
 |-- prix: integer (nullable = true)

In [5]:
#Normalisation des marques
df_immat = df_immat.withColumn("marque", lower(trim(col("marque"))))

#Normalisation des modèles
df_immat = df_immat.withColumn("modele", lower(trim(col("modele"))))

In [6]:
df_immat.show(n=5)

+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|immatriculation|    marque|          modele|puissance|   longueur|nbplaces|nbportes|couleur|occasion| prix|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|     9113 ZK 61|      saab|        9.3 1.8t|      150|     longue|       5|       5|  blanc|   false|38600|
|     9088 UW 52|    nissan|   maxima 3.0 v6|      200|tr�s longue|       5|       5|   bleu|   false|30000|
|     3594 DX 21|volkswagen|     polo 1.2 6v|       55|     courte|       5|       3|   gris|    true| 8540|
|     9665 OD 25|   renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|  rouge|   false|49200|
|     3745 QT 98|      saab|        9.3 1.8t|      150|     longue|       5|       5|   gris|    true|27020|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
only showing top 5 rows

#### Traitemment Client

In [7]:
#Suppression de la 1ère ligne de la table clients

df_client = df_client.filter(df_client['immatriculation'] != 'immatriculation')

df_client.show(n=3)

+---+----+----+------------------+---------------+---------------+---------------+
|age|sexe|taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|immatriculation|
+---+----+----+------------------+---------------+---------------+---------------+
| 40|   M| 400|         En Couple|              1|          false|     7982 PU 33|
| 42|   M| 525|         En Couple|              1|          false|     7501 DZ 26|
| 28|   M|1066|       C�libataire|              0|          false|     6461 JH 46|
+---+----+----+------------------+---------------+---------------+---------------+
only showing top 3 rows

### Recherche des caractères spéciaux

- Recherche du symbole "�"
- Recherche du caractère "ã©"

In [8]:
df_client.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- taux: integer (nullable = true)
 |-- situationfamiliale: string (nullable = true)
 |-- nbenfantacharge: integer (nullable = true)
 |-- deuxiemevoiture: boolean (nullable = true)
 |-- immatriculation: string (nullable = true)

In [9]:
#Recherche du symbole "�"

#table immatriculation
df_search_special_char_immat = df_immat.filter(
    col("immatriculation").like("%�%") | 
    col("marque").like("%�%") | 
    col("modele").like("%�%") | 
    col("longueur").like("%�%") |
    col("couleur").like("%�%") | 
    col("occasion").like("%�%")
)

#table clients
df_search_special_char_client = df_client.filter(
    col("sexe").like("%�%") |
    col("immatriculation").like("%�%")
)

value_client = df_client.groupBy("situationfamiliale").count()

In [10]:
df_search_special_char_immat.show()
df_search_special_char_client.show()
value_client.show()

+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|immatriculation|  marque|          modele|puissance|   longueur|nbplaces|nbportes|couleur|occasion| prix|
+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|     9088 UW 52|  nissan|   maxima 3.0 v6|      200|tr�s longue|       5|       5|   bleu|   false|30000|
|     9665 OD 25| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|  rouge|   false|49200|
|     3024 NS 68|   volvo|          s80 t6|      272|tr�s longue|       5|       5|  rouge|   false|50500|
|      985 ZD 20|     bmw|              m5|      507|tr�s longue|       5|       5|  rouge|   false|94800|
|     1988 QH 68| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|   noir|   false|49200|
|     7526 DQ 31|     bmw|              m5|      507|tr�s longue|       5|       5|   bleu|   false|94800|
|     8557 XV 50|     bmw|              m5|      507|tr�s longue|       5|       5|   gris|   false|94800|
|     5000 HE 92|     bmw|              m5|      507|tr�s longue|       5|       5|   noir|    true|66360|
|     2185 BF 30| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|  rouge|   false|49200|
|      486 EH 20|     bmw|              m5|      507|tr�s longue|       5|       5|  rouge|   false|94800|
|     3549 SJ 14|   volvo|          s80 t6|      272|tr�s longue|       5|       5|   gris|   false|50500|
|      317 OP 55|     bmw|              m5|      507|tr�s longue|       5|       5|   noir|   false|94800|
|     8785 QE 92| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|  blanc|   false|49200|
|     9465 EB 93|   volvo|          s80 t6|      272|tr�s longue|       5|       5|   noir|   false|50500|
|     4773 KD 13| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|   gris|    true|34440|
|     9858 ZB 92|     bmw|              m5|      507|tr�s longue|       5|       5|  blanc|    true|66360|
|     2485 AN 29|     bmw|              m5|      507|tr�s longue|       5|       5|  blanc|   false|94800|
|      191 AK 76|     bmw|              m5|      507|tr�s longue|       5|       5|  rouge|   false|94800|
|     3447 SV 20|   skoda|   superb 2.8 v6|      193|tr�s longue|       5|       5|   bleu|   false|31790|
|     5062 NA 45|mercedes|            s500|      306|tr�s longue|       5|       5|  rouge|    true|70910|
+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+-----+
only showing top 20 rows

+---+----+----+------------------+---------------+---------------+---------------+
|age|sexe|taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|immatriculation|
+---+----+----+------------------+---------------+---------------+---------------+
+---+----+----+------------------+---------------+---------------+---------------+

+------------------+-----+
|situationfamiliale|count|
+------------------+-----+
|          Divorc�e|   56|
|          Mari�(e)|  635|
|              Seul|  298|
|       C�libataire|29862|
|             Seule| 4787|
|               N/D|   94|
|                  |   97|
|         En Couple|64056|
|                 ?|  115|
+------------------+-----+

In [11]:
#Recherche du caractère "ã©"

#table immatriculation
df_search_special_char_2_immat = df_immat.filter(
    col("immatriculation").like("%ã©%") | 
    col("marque").like("%ã©%") | 
    col("modele").like("%ã©%") | 
    col("longueur").like("%ã©%") |
    col("couleur").like("%ã©%") | 
    col("occasion").like("%ã©%")
)

#table clients
df_search_special_char_2_client = df_client.filter(
    col("sexe").like("%ã©%") | 
    col("situationfamiliale").like("%ã©%") | 
    col("immatriculation").like("%ã©%")
)

In [12]:
df_search_special_char_2_immat.show()
df_search_special_char_2_client.show()

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+

+---+----+----+------------------+---------------+---------------+---------------+
|age|sexe|taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|immatriculation|
+---+----+----+------------------+---------------+---------------+---------------+
+---+----+----+------------------+---------------+---------------+---------------+

### Correction des caractères spéciaux

- Correction du symbole "�" dans la colonne "longueur".

In [13]:
#Correction du symbole "�" dans la colonne "longueur"

df_immat = df_immat.withColumn("longueur", regexp_replace(col("longueur"), "�", "e"))

df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "�", "e"))

In [14]:

df_search_special_char_immat = df_immat.filter(
    col("immatriculation").like("%�%") | 
    col("marque").like("%�%") | 
    col("modele").like("%�%") | 
    col("longueur").like("%�%") |
    col("couleur").like("%�%") | 
    col("occasion").like("%�%")
)

value_client = df_client.groupBy("situationfamiliale").count()

value_client.show()

df_search_special_char_immat.show()

+------------------+-----+
|situationfamiliale|count|
+------------------+-----+
|              Seul|  298|
|       Celibataire|29862|
|             Seule| 4787|
|          Marie(e)|  635|
|               N/D|   94|
|                  |   97|
|         En Couple|64056|
|                 ?|  115|
|          Divorcee|   56|
+------------------+-----+

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+

## Recherche et correction des Null

- Recherche des null

In [15]:

#Recherche des null

# Liste des colonnes du DataFrame
colonnes_immat = df_immat.columns

# Filtrer pour conserver uniquement les lignes où au moins une colonne est nulle
df_immat_nulls = df_immat.filter(
    sum(col(colonne_immat).isNull().cast("int") for colonne_immat in colonnes_immat) > 0
)

# Liste des colonnes du DataFrame
colonnes_client = df_client.columns

# Filtrer pour conserver uniquement les lignes où au moins une colonne est nulle
df_client_nulls = df_client.filter(
    sum(col(colonne_client).isNull().cast("int") for colonne_client in colonnes_client) > 0
)

In [16]:
# Afficher les lignes avec des valeurs nulles
df_immat_nulls.show()
df_client_nulls.show()

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+

+----+----+----+------------------+---------------+---------------+---------------+
| age|sexe|taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|immatriculation|
+----+----+----+------------------+---------------+---------------+---------------+
|null|   M|1179|       Celibataire|              0|          false|     4277 VS 97|
|null|   M| 426|         En Couple|              1|          false|     1192 RE 88|
|  37|   M|null|       Celibataire|              0|          false|     8980 MQ 19|
|  26|   M|null|         En Couple|              3|          false|     5356 OE 81|
|  45|   M| 408|         En Couple|           null|           true|     1477 YN 25|
|  52|   M|1230|         En Couple|              3|           null|     9068 VL 70|
|  56|   M|1283|       Celibataire|           null|          false|     2034 MN 96|
|null|   M| 419|         En Couple|              1|          false|     3657 DE 89|
|  40|   F|null|         En Couple|              3|          false|     6464 UK 41|
|  53|   F| 724|             Seule|           null|          false|     5104 HS 33|
|null|   M| 543|         En Couple|              4|          false|     4012 KC 78|
|  57|   M|1042|         En Couple|              2|           null|     5989 UD 46|
|  57|   M|1321|         En Couple|           null|          false|     3749 EE 21|
|  25|   F| 400|         En Couple|           null|          false|     9038 JZ 85|
|  34|   M|null|       Celibataire|              0|          false|     5328 QS 83|
|  55|   F| 510|         En Couple|           null|          false|     7332 QH 31|
|  19|   M| 829|       Celibataire|              0|           null|     6775 VI 36|
|null|   F| 163|         En Couple|              4|           true|     6391 JG 28|
|  67|   M| 862|       Celibataire|              0|           null|     7913 XB 24|
|  53|   M|1220|         En Couple|           null|          false|      905 YY 25|
+----+----+----+------------------+---------------+---------------+---------------+
only showing top 20 rows

## Traitement des nulls dans la table **age**

- Analyse des valeurs inférieur à 18.
- Mettre à null les valeurs inférieures à 18 ans.
- Calculer la médiane.
- Remplacer les nulls par la médiane.

In [17]:
#Analyse des valeurs inférieur à 18.

# Ajouter une colonne qui spécifie si l'âge est inférieur à 18
df_client = df_client.withColumn("age_below_18", when(col("age") < 18, 1).otherwise(0))

# Compter les lignes où "age_below_18" est 1
count_grouped = df_client.groupBy("age_below_18").count()

In [18]:
# Afficher les résultats
count_grouped.show()

+------------+-----+
|age_below_18|count|
+------------+-----+
|           1|  103|
|           0|99897|
+------------+-----+

In [19]:
#Mettre à null les valeurs inférieures à 18 ans.

df_client = df_client.withColumn("age", when(col("age") == -1, None).otherwise(col("age")))
df_client = df_client.withColumn("age", when(col("age") == 0, None).otherwise(col("age")))

#Calculer la médiane.
mediane = df_client.approxQuantile("age", [0.5], 0.01)[0]

#Remplacer les nulls par la médiane.
df_client = df_client.withColumn("age", when(col("age").isNull(), mediane).otherwise(col("age")))

In [20]:
# Afficher la médiane
print("Médiane:", mediane)

value_client = df_client.groupBy("age").count()


value_client.show()

Médiane: 42.0

+----+-----+
| age|count|
+----+-----+
|70.0|  763|
|67.0|  789|
|69.0|  801|
|49.0| 1645|
|29.0| 2464|
|75.0|  795|
|64.0|  869|
|47.0| 1667|
|42.0| 1978|
|44.0| 1604|
|35.0| 1592|
|62.0|  810|
|18.0| 2516|
|80.0|  785|
|39.0| 1700|
|37.0| 1655|
|34.0| 1661|
|25.0| 2461|
|36.0| 1676|
|41.0| 1637|
+----+-----+
only showing top 20 rows

## traitement des null dans **taux**

- Nettoyer situation familiale
    -- Fusionner seul/seule en Celibataire
    -- Remplacer les null/? par N/D

- faire la moyenne des taux par valeur de situation familiale
- Remplacer les nulls

In [21]:
#Nettoyer situation familiale

#Fusionner seul/seule en Celibataire
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Seule", "Celibataire"))
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Seul", "Celibataire"))
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Divorcee", "Divorce"))

df_client = df_client.withColumn("situationfamiliale", replace(col("situationfamiliale"), "N/D", null))
#df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "?", "N/D"))

NameError: name 'replace' is not defined

In [ ]:
value_client = df_client.groupBy("situationfamiliale").count()
value_client.show()

## Modification du type des colonnes occasion

- Recherche des valeurs d'occasion
- Changer le type de la colonne

In [ ]:
#Recherche des valeurs d'occasion
value_count_occasion = df_immat.groupBy("occasion").count()

value_count_occasion.show()

In [ ]:
#Changer le type de la colonne
df_immat = df_immat.withColumn("occasion", df_immat["occasion"].cast(BooleanType()))

df_immat.printSchema()

## Recherche de valeurs aberrantes

- Modéliser les valeurs dans un diagramme à moustaches pour mettre en avant les valeurs aberrantes.
- Afficher les valeurs suspectes.

In [ ]:
#Modéliser les valeurs dans un diagramme à moustaches pour mettre en avant les valeurs aberrantes.

# 2. Sélectionner uniquement les colonnes numériques nécessaires

df_place_porte = df_immat.select(["nbplaces", "nbportes"])
df_prix = df_immat.select(["prix"])
df_puissance = df_immat.select(["puissance"])

# 3. Convertir le DataFrame PySpark en DataFrame Pandas
df_place_porte= df_place_porte.toPandas()
df_prix= df_prix.toPandas()
df_puissance= df_puissance.toPandas()

# 4. Tracer le diagramme à moustaches pour chaque colonne
plt.figure(figsize=(12, 8))
sns.boxplot(data=df_place_porte)
plt.title("Diagramme à moustache pour détecter les valeurs aberrantes places/portes")
plt.xticks(rotation=45)
plt.show()

plt.figure(figsize=(12, 8))
sns.boxplot(data=df_puissance)
plt.title("Diagramme à moustache pour détecter les valeurs aberrantes puissance")
plt.xticks(rotation=45)
plt.show()

plt.figure(figsize=(12, 8))
sns.boxplot(data=df_prix)
plt.title("Diagramme à moustache pour détecter les valeurs aberrantes prix")
plt.xticks(rotation=45)
plt.show()

In [ ]:
#Afficher les valeurs suspectes.

# Trouver la valeur maximale de la colonne "prix"
prix_max = df_immat.select(max("prix")).collect()[0][0]

# Filtrer le DataFrame pour afficher les lignes ayant cette valeur
df_max_prix = df_immat.filter(df_immat["prix"] == prix_max)

# Afficher les lignes avec le prix maximum
df_max_prix.show()

# Trouver la valeur maximale de la colonne "prix"
prix_min = df_immat.select(min("prix")).collect()[0][0]

# Filtrer le DataFrame pour afficher les lignes ayant cette valeur
df_min_prix = df_immat.filter(df_immat["prix"] == prix_min)

# Afficher les lignes avec le prix maximum
df_min_prix.show()