In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql.types import BooleanType, FloatType
from pyspark.sql.functions import trim, lower, col, count, regexp_replace, max, min, when,avg, round, rand

spark = SparkSession.builder\
    .appName("CleanImmatriculation")\
    .enableHiveSupport()\
    .getOrCreate()

spark.sparkContext.setLogLevel("OFF")
spark.catalog.clearCache()
spark.sql("USE concessionnaire")

df_immat = spark.sql("SELECT * FROM immatriculations_ext")
df_client = spark.sql("SELECT * FROM clients")

#Renommage de la colonne "nom" en "modele"
df_immat = df_immat.withColumnRenamed("nom", "modele")

#Normalisation des marques et modèles
df_immat = df_immat.withColumn("marque", lower(trim(col("marque"))))
df_immat = df_immat.withColumn("modele", lower(trim(col("modele"))))

#Suppression de la 1ère ligne de la table clients
df_client = df_client.filter(df_client['immatriculation'] != 'immatriculation')

#Correction du symbole "�" dans la colonne "longueur"
df_immat = df_immat.withColumn("longueur", regexp_replace(col("longueur"), "�", "e"))
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "�", "e"))

#Mettre à null les valeurs inférieures à 18 ans.
df_client = df_client.withColumn("age", when(col("age") == -1, None).otherwise(col("age")))
df_client = df_client.withColumn("age", when(col("age") == 0, None).otherwise(col("age")))

#Calculer la médiane et remplacer les nulls par la médiane.
mediane = df_client.approxQuantile("age", [0.5], 0.01)[0]
df_client = df_client.withColumn("age", when(col("age").isNull(), mediane).otherwise(col("age")))

#Fusionner seul/seule en Celibataire
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Seule", "Celibataire"))
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Seul", "Celibataire"))
df_client = df_client.withColumn("situationfamiliale", regexp_replace(col("situationfamiliale"), "Divorcee", "Divorce"))

# Remplacer "N/D" par null dans la colonne situationfamiliale
df_client = df_client.withColumn(
    "situationfamiliale",
    when(col("situationfamiliale") == None, "N/D").otherwise(col("situationfamiliale"))
)
df_client = df_client.withColumn(
    "situationfamiliale",
    when(trim(col("situationfamiliale")) == "", "N/D").otherwise(col("situationfamiliale"))
)
# Remplacer "?" par "N/D" dans la colonne situationfamiliale
df_client = df_client.withColumn(
    "situationfamiliale",
    regexp_replace(col("situationfamiliale"), r"\?", "N/D")
)
#Supprimer les N/D car les proportions le permettent
df_client= df_client.filter(col("situationfamiliale") != "N/D")

# Remplacer les nulls de taux
mediane_taux = df_client.approxQuantile("taux", [0.5], 0.01)[0]
df_client = df_client.withColumn("taux", when(col("taux").isNull(), mediane).otherwise(col("taux")))

#Correction des valeurs hors domaine (Création d'une colonne "taux_eligible")
df_client = df_client.withColumn(
    "taux_eligible",
    when((col("taux") >= 544) & (col("taux") <= 74185), True).otherwise(False)
)

df_client = df_client.withColumn(
    "nbenfantacharge",
    when(
        (col("situationfamiliale") == "Celibataire") & (col("nbenfantacharge").isNull() | (col("nbenfantacharge") == -1)),
        0
    ).otherwise(col("nbenfantacharge"))
)

df_client = df_client.withColumn(
    "nbenfantacharge",
    when(
        (col("situationfamiliale").isin("Marie(e)", "Divorce", "En Couple")) & 
        (col("nbenfantacharge").isNull() | (col("nbenfantacharge") == -1)),
        2
    ).otherwise(col("nbenfantacharge"))
)

#Fusionner F/F�minin/Femme en F
df_client = df_client.withColumn("sexe", regexp_replace(col("sexe"), "Femme", "F"))
df_client = df_client.withColumn("sexe", regexp_replace(col("sexe"), "F�minin", "F"))

#Fusionner H/M/Masculin/Hommme en H
df_client = df_client.withColumn("sexe", regexp_replace(col("sexe"), "Masculin", "H"))
df_client = df_client.withColumn("sexe", regexp_replace(col("sexe"), "M", "H"))
df_client = df_client.withColumn("sexe", regexp_replace(col("sexe"), "Homme", "H"))

#Remplacer les null/? par N/D
df_client = df_client.withColumn("sexe", when(col("sexe") == None, "N/D").otherwise(col("sexe")))
df_client = df_client.withColumn("sexe",when(trim(col("sexe")) == "", "N/D").otherwise(col("sexe")))
df_client = df_client.withColumn("sexe",regexp_replace(col("sexe"), r"\?", "N/D"))

#Supprimer les N/D si les proportions le permettent
df_client= df_client.filter(col("sexe") != "N/D")

df_nulls = df_client.filter(col("deuxiemevoiture").isNull())
# Ajouter une colonne aléatoire et assigner 'true' ou 'false' selon les proportions
df_nulls_replaced = df_nulls.withColumn(
    "deuxiemevoiture",
    when(rand() < 0.13, True).otherwise(False)
)
# Filtrer les lignes sans 'null' dans 'deuxiemevoiture'
df_non_nulls = df_client.filter(col("deuxiemevoiture").isNotNull())
# Combiner les deux DataFrames
df_client = df_non_nulls.union(df_nulls_replaced)

#Suppression des doublons
df_client= df_client.dropDuplicates(["immatriculation"])

#Changer le type de la colonne
df_immat = df_immat.withColumn("occasion", df_immat["occasion"].cast(BooleanType()))

#Fusion des tables
df_client_immat= df_client.join(df_immat, on= "immatriculation")

#Supression des doublons
df_client_immat= df_client_immat.dropDuplicates(["immatriculation"])

# Ajout de la colonne 'categorie' avec des critères précis
df_client_immat= df_client_immat.withColumn(
    "categorie",
    when(
        (col("longueur") == "courte") & (col("puissance") < 100) & (col("prix") < 20000),
        "citadine economique"
    )
    .when(
        (col("longueur") == "courte") & (col("puissance") >= 100) & (col("prix") >= 20000),
        "citadine standard"
    )
    .when(
        (col("longueur").isin("moyenne", "longue")) & (col("nbplaces") >= 5) & (col("prix") < 35000),
        "familiale"
    )
    .when(
        (col("longueur").isin("longue", "tres longue")) & (col("nbplaces") >= 5) & (col("prix") >= 35000),
        "SUV/Crossover"
    )
    .when(
        (col("puissance") >= 200) & (col("prix") >= 40000),
        "sportive"
    )
    .when(
        (col("prix") >= 50000),
        "luxe"
    )
    .otherwise("autre")
)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/16 12:14:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/16 12:14:19 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_client_immat.show()

+---------------+----+----+------+------------------+---------------+---------------+-------------+----------+--------------+---------+-----------+--------+--------+-------+--------+-----+-------------------+
|immatriculation| age|sexe|  taux|situationfamiliale|nbenfantacharge|deuxiemevoiture|taux_eligible|    marque|        modele|puissance|   longueur|nbplaces|nbportes|couleur|occasion| prix|          categorie|
+---------------+----+----+------+------------------+---------------+---------------+-------------+----------+--------------+---------+-----------+--------+--------+-------+--------+-----+-------------------+
|        0 WQ 28|61.0|   H|1213.0|       Celibataire|              0|          false|         true|  mercedes|          a200|      136|    moyenne|       5|       5|   gris|   false|25900|          familiale|
|        1 DH 28|84.0|   H| 520.0|       Celibataire|              0|          false|        false|   peugeot|      1007 1.4|       75|     courte|       5|       5|   bleu|   false|13750|citadine economique|
|        1 DW 68|44.0|   F| 595.0|       Celibataire|              0|          false|         true|   renault|megane 2.0 16v|      135|    moyenne|       5|       5|  rouge|   false|22350|          familiale|
|        1 JD 57|39.0|   H| 171.0|         En Couple|              3|          false|        false|     skoda| superb 2.8 v6|      193|tres longue|       5|       5|  rouge|   false|31790|              autre|
|        1 LH 18|52.0|   F| 197.0|         En Couple|              4|          false|        false|     volvo|        s80 t6|      272|tres longue|       5|       5|   bleu|    true|35350|      SUV/Crossover|
|       10 HY 79|46.0|   H| 504.0|         En Couple|              3|          false|        false|     volvo|        s80 t6|      272|tres longue|       5|       5|   gris|   false|50500|      SUV/Crossover|
|       10 TB 78|37.0|   F| 448.0|         En Couple|              2|           true|        false|   peugeot|      1007 1.4|       75|     courte|       5|       5|   bleu|   false|13750|citadine economique|
|      100 EW 46|18.0|   H| 993.0|       Celibataire|              0|          false|         true|      audi|        a2 1.4|       75|     courte|       5|       5|  blanc|   false|18310|citadine economique|
|      100 HA 73|42.0|   F|1126.0|         En Couple|              2|          false|         true|    jaguar| x-type 2.5 v6|      197|     longue|       5|       5|  rouge|   false|37100|      SUV/Crossover|
|      100 PP 91|55.0|   F| 245.0|         En Couple|              2|          false|        false|     volvo|        s80 t6|      272|tres longue|       5|       5|   noir|    true|35350|      SUV/Crossover|
|      100 XZ 87|33.0|   H| 435.0|         En Couple|              1|          false|        false|      fiat|     croma 2.2|      147|     longue|       5|       5|   gris|   false|24780|          familiale|
|     1000 AG 15|52.0|   H|1329.0|         En Couple|              4|          false|         true|       bmw|            m5|      507|tres longue|       5|       5|   bleu|   false|94800|      SUV/Crossover|
|     1000 RD 14|81.0|   F| 475.0|         En Couple|              1|          false|        false|  mercedes|          s500|      306|tres longue|       5|       5|   bleu|    true|70910|      SUV/Crossover|
|     1002 EG 53|30.0|   H| 179.0|         En Couple|              4|          false|        false|     skoda| superb 2.8 v6|      193|tres longue|       5|       5|  rouge|   false|31790|              autre|
|     1002 UI 97|31.0|   H| 573.0|       Celibataire|              0|          false|         true|volkswagen|   polo 1.2 6v|       55|     courte|       5|       3|  blanc|   false|12200|citadine economique|
|     1003 AG 94|27.0|   F| 464.0|       Celibataire|              0|          false|        false|   peugeot|      1007 1.4|       75|     courte|       5|       5|   bleu|   false|13750|citadine economique|
|     1003 XW 11|54.0|   H| 556.0|       Celibataire|              0|          false|         true|volkswagen|   polo 1.2 6v|       55|     courte|       5|       3|   gris|   false|12200|citadine economique|
|     1004 AC 24|45.0|   F| 486.0|       Celibataire|              2|          false|        false|      ford|    mondeo 1.8|      125|     longue|       5|       5|  rouge|   false|23900|          familiale|
|     1004 KU 24|52.0|   H| 450.0|         En Couple|              1|           true|        false|volkswagen|   polo 1.2 6v|       55|     courte|       5|       3|   gris|   false|12200|citadine economique|
|     1005 WO 13|49.0|   F| 538.0|       Celibataire|              0|          false|        false|      audi|    a3 2.0 fsi|      150|    moyenne|       5|       5|   noir|    true|19950|          familiale|
+---------------+----+----+------+------------------+---------------+---------------+-------------+----------+--------------+---------+-----------+--------+--------+-------+--------+-----+-------------------+
only showing top 20 rows