# Analyse et nettoyage des données Immatriculation

## Import

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import trim, lower, col, count, regexp_replace

## Session spark

In [2]:
spark = SparkSession.builder\
    .appName("CleanImmatriculation")\
    .enableHiveSupport()\
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/14 10:03:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Import des données

In [3]:
spark.sparkContext.setLogLevel("OFF")
spark.catalog.clearCache()
spark.sql("USE concessionnaire")

df_immat = spark.sql("SELECT * FROM immatriculations_ext")

df_immat.show()

+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|immatriculation|    marque|             nom|puissance|   longueur|nbplaces|nbportes|couleur|occasion| prix|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
|      167 JA 42|   Peugeot|        1007 1.4|       75|     courte|       5|       5|  rouge|   false|13750|
|     6956 HM 76|   Renault|     Laguna 2.0T|      170|     longue|       5|       5|   noir|   false|27300|
|      852 KQ 58|    Lancia| Ypsilon 1.4 16V|       90|     courte|       5|       3|   noir|   false|13500|
|     2429 ZQ 52|Volkswagen|    Golf 2.0 FSI|      150|    moyenne|       5|       5|   bleu|   false|22900|
|     5605 XG 92|Volkswagen|     Polo 1.2 6V|       55|     courte|       5|       3|  rouge|   false|12200|
|     4685 DN 33|       BMW|              M5|      507|tr�s longue|       5|       5|  rouge|   false|94800|
|     9849 JL 91|Volkswagen|     Polo 1.2 6V|       55|     courte|       5|       3|  rouge|   false|12200|
|     9138 JU 10|       BMW|              M5|      507|tr�s longue|       5|       5|   bleu|   false|94800|
|     3496 UI 20|  Daihatsu|       Cuore 1.0|       58|     courte|       5|       3|   gris|   false| 8850|
|     8187 SB 20|      Audi|          A2 1.4|       75|     courte|       5|       5|  rouge|    true|12817|
|     9667 QU 33|  Mercedes|            A200|      136|    moyenne|       5|       5|   bleu|   false|25900|
|     4277 YE 78|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|  blanc|   false|37100|
|     8930 WE 91|   Renault|Vel Satis 3.5 V6|      245|tr�s longue|       5|       5|   noir|   false|49200|
|     7836 GT 47|      Seat|      Toledo 1.6|      102|     longue|       5|       5|  blanc|   false|18880|
|     1958 FY 73|Volkswagen|    Golf 2.0 FSI|      150|    moyenne|       5|       5|   noir|    true|16029|
|      713 DR 91|       BMW|              M5|      507|tr�s longue|       5|       5|  blanc|   false|94800|
|     2947 VF 36|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|  blanc|    true|25970|
|     3118 UT 20|    Jaguar|   X-Type 2.5 V6|      197|     longue|       5|       5|  blanc|    true|25970|
|     3038 QP 89|      Saab|        9.3 1.8T|      150|     longue|       5|       5|   noir|    true|27020|
|     6163 BQ 74|  Daihatsu|       Cuore 1.0|       58|     courte|       5|       3|   bleu|   false| 8850|
+---------------+----------+----------------+---------+-----------+--------+--------+-------+--------+-----+
only showing top 20 rows

## Analyse

### Casse
- Renommage de la colonne "nom" en "modele"
- Normalisation des marques
- Normalisation des modèles

In [4]:
#Renommage de la colonne "nom" en "modele"
df_immat = df_immat.withColumnRenamed("nom", "modele")

df_immat.printSchema()

root
 |-- immatriculation: string (nullable = true)
 |-- marque: string (nullable = true)
 |-- modele: string (nullable = true)
 |-- puissance: integer (nullable = true)
 |-- longueur: string (nullable = true)
 |-- nbplaces: integer (nullable = true)
 |-- nbportes: integer (nullable = true)
 |-- couleur: string (nullable = true)
 |-- occasion: string (nullable = true)
 |-- prix: integer (nullable = true)

In [5]:
#Normalisation des marques
df_immat = df_immat.withColumn("marque", lower(trim(col("marque"))))

#Normalisation des modèles
df_immat = df_immat.withColumn("modele", lower(trim(col("modele"))))

In [6]:
df_immat.show(n=5)

+---------------+----------+---------------+---------+--------+--------+--------+-------+--------+-----+
|immatriculation|    marque|         modele|puissance|longueur|nbplaces|nbportes|couleur|occasion| prix|
+---------------+----------+---------------+---------+--------+--------+--------+-------+--------+-----+
|      167 JA 42|   peugeot|       1007 1.4|       75|  courte|       5|       5|  rouge|   false|13750|
|     6956 HM 76|   renault|    laguna 2.0t|      170|  longue|       5|       5|   noir|   false|27300|
|      852 KQ 58|    lancia|ypsilon 1.4 16v|       90|  courte|       5|       3|   noir|   false|13500|
|     2429 ZQ 52|volkswagen|   golf 2.0 fsi|      150| moyenne|       5|       5|   bleu|   false|22900|
|     5605 XG 92|volkswagen|    polo 1.2 6v|       55|  courte|       5|       3|  rouge|   false|12200|
+---------------+----------+---------------+---------+--------+--------+--------+-------+--------+-----+
only showing top 5 rows

### Recherche des caractères spéciaux

- Recherche du symbole "�"
- Recherche du caractère "ã©"

In [7]:
#Recherche du symbole "�"

df_search_special_char_immat = df_immat.filter(
    col("immatriculation").like("%�%") | 
    col("marque").like("%�%") | 
    col("modele").like("%�%") | 
    col("longueur").like("%�%") |
    col("couleur").like("%�%") | 
    col("occasion").like("%�%")
)

#Recherche du caractère "ã©"

df_search_special_char_2_immat = df_immat.filter(
    col("immatriculation").like("%ã©%") | 
    col("marque").like("%ã©%") | 
    col("modele").like("%ã©%") | 
    col("longueur").like("%ã©%") |
    col("couleur").like("%ã©%") | 
    col("occasion").like("%ã©%")
)

df_search_special_char_immat.show()
df_search_special_char_2_immat.show()

+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+------+
|immatriculation|  marque|          modele|puissance|   longueur|nbplaces|nbportes|couleur|occasion|  prix|
+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+------+
|     4685 DN 33|     bmw|              m5|      507|tr�s longue|       5|       5|  rouge|   false| 94800|
|     9138 JU 10|     bmw|              m5|      507|tr�s longue|       5|       5|   bleu|   false| 94800|
|     8930 WE 91| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|   noir|   false| 49200|
|      713 DR 91|     bmw|              m5|      507|tr�s longue|       5|       5|  blanc|   false| 94800|
|     7043 HC 23|   volvo|          s80 t6|      272|tr�s longue|       5|       5|  rouge|   false| 50500|
|     2905 OZ 78|mercedes|            s500|      306|tr�s longue|       5|       5|  rouge|   false|101300|
|     6959 JS 88| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|  blanc|   false| 49200|
|     2831 VY 33|     bmw|              m5|      507|tr�s longue|       5|       5|  blanc|   false| 94800|
|      852 EM 76| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|   gris|    true| 34440|
|     9585 YS 37|   volvo|          s80 t6|      272|tr�s longue|       5|       5|   noir|   false| 50500|
|      431 MI 64|     bmw|              m5|      507|tr�s longue|       5|       5|   bleu|   false| 94800|
|        3 YG 34| renault|vel satis 3.5 v6|      245|tr�s longue|       5|       5|   gris|   false| 49200|
|     2608 EG 90|     bmw|              m5|      507|tr�s longue|       5|       5|  rouge|   false| 94800|
|     3011 AK 52|     bmw|              m5|      507|tr�s longue|       5|       5|   gris|   false| 94800|
|     1477 EE 19|   skoda|   superb 2.8 v6|      193|tr�s longue|       5|       5|  blanc|   false| 31790|
|     2856 VX 71|     bmw|              m5|      507|tr�s longue|       5|       5|   noir|   false| 94800|
|     9526 QO 49|  nissan|   maxima 3.0 v6|      200|tr�s longue|       5|       5|   bleu|   false| 30000|
|     8525 AO 27|     bmw|              m5|      507|tr�s longue|       5|       5|  blanc|   false| 94800|
|     1442 GI 87|   volvo|          s80 t6|      272|tr�s longue|       5|       5|   noir|    true| 35350|
|     3323 UO 58|mercedes|            s500|      306|tr�s longue|       5|       5|  rouge|    true| 70910|
+---------------+--------+----------------+---------+-----------+--------+--------+-------+--------+------+
only showing top 20 rows

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+

### Correction des caractères spéciaux

- Correction du symbole "�" dans la colonne "longueur".

In [8]:
#Correction du symbole "�" dans la colonne "longueur"

df_immat = df_immat.withColumn("longueur", regexp_replace(col("longueur"), "�", "e"))

df_search_special_char_immat = df_immat.filter(
    col("immatriculation").like("%�%") | 
    col("marque").like("%�%") | 
    col("modele").like("%�%") | 
    col("longueur").like("%�%") |
    col("couleur").like("%�%") | 
    col("occasion").like("%�%")
)

df_search_special_char_immat.show()

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+

## Recherche et correction des Null

- Recherche des null

In [9]:

#Recherche des null

# Liste des colonnes du DataFrame
colonnes = df_immat.columns

# Filtrer pour conserver uniquement les lignes où au moins une colonne est nulle
df_nulls = df_immat.filter(
    sum(col(colonne).isNull().cast("int") for colonne in colonnes) > 0
)

# Afficher les lignes avec des valeurs nulles
df_nulls.show()

+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
|immatriculation|marque|modele|puissance|longueur|nbplaces|nbportes|couleur|occasion|prix|
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+
+---------------+------+------+---------+--------+--------+--------+-------+--------+----+